<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Anagram Finder</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h3>@Model.Header </h1>
      <ul>
      @foreach (string anagram in Model.ActualAnagrams)
      {
        <li>@anagram</li>
      }
      </ul>
    </div>
  </body>
</html>